@use "../../variables";
@use "../../mixins";

.chatItem  {
  @include mixins.flex-center($justify: flex-start);
  align-items: center;
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid variables.$color-chat-border;
  background-color: variables.$color-background;


  &:hover {
    background-color: variables.$color-background-darken;
  }

  &Photo  {
    margin-right: 10px;

    & img {
      @include mixins.border-radius(variables.$border-radius-full);
      width: 50px;
      height: 50px;
      object-fit: cover;
    }
  }

  &Info  {
    flex-grow: 1;
  }

  &Name  {
    font-weight: bold;
    @include mixins.flex-center($justify: flex-start);
  }

  &LastMessage {
    color: variables.$color-text;
    margin-top: 5px;
  }

  &Status  {
    margin-left: auto;
    @include mixins.flex-center();
  }

  &Time  {
    font-size: 12px;
    color: variables.$color-gray;
    margin-left: 10px;
    white-space: nowrap;
    align-self: flex-start;
  }
}

.unreadCount  {
  background-color: #4d8de3;
  color: variables.$color-light;
  @include mixins.border-radius(variables.$border-radius-full);
  font-size: 12px;
  height: 20px;
  width: 20px;
  text-align: center;
  @include mixins.flex-center();
}

.message-status-icon {
  align-self: flex-start;
}
