@use "../../../variables";
@use "../../../mixins";
@import "../../../index";

.receiver {
  @include mixins.flex-center($justify: space-between);
  width: 100%;
  &Name {
    font-size: variables.$font-size-large;
    font-weight: 500;
    color: variables.$color-light;
    flex-grow: 1;
    text-align: center;
    cursor: pointer;
  }

  &Photo {
    @include mixins.flex-center();
    cursor: pointer;


    &Image {
      @include mixins.border-radius(variables.$border-radius-full);
      object-fit: cover;
      width: 40px;
      height: 40px;
    }
  }
}
